.create-comment-container {
  border-top: 1px solid grey;
  background-color: lightgrey;
  height: 40%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.create-comment {
  margin: 0 auto;
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 2;
}

.create-comment input {
  width: 60%;
  border-radius: none;
  border: 1px solid grey;
  padding-left: 2%;
}
.create-comment button {
  width: 20%;
  border-radius: none;
  border: 1px solid grey;
  border-left: none;
}
